body {
    font-family: 'Press Start 2P', cursive;
    background-color: #fef6e4;
    text-align: center;
    color: #333;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

.hidden {
    display: none;
}

input, textarea {
    padding: 10px;
    font-size: 14px;
    width: 300px;
    margin: 10px;
}
